<div class="table-container">
    <h2>Product List</h2>
  
    <!-- Show loading message or spinner if data is still being fetched -->
    <div *ngIf="isLoading">Loading products...</div>
  
    <!-- Table displaying products once data is fetched -->
    <table *ngIf="!isLoading" class="styled-table">
      <thead>
        <tr>
          <th>Name</th>
          <th>Brand</th>
          <th>Category</th>
          <th>Description</th>
          <th>Stock</th>
          <th>Price</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let product of products">
          <td>{{ product.name }}</td>
          <td>{{ product.brand}}</td>
          <td>{{ product.category}}</td>
          <td>{{ product.description}}</td>
          <td>{{ product.stock}}</td>
          <td>{{ product.price}}</td>
        </tr>
      </tbody>
    </table>
  </div>
  